/* --------------------- Responsive Start ---------------------- */



/* ------ Smaller than 575px -------- */







/* ------ Smaller than 768px -------- */




@media (max-width: 960px) {

    .header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header.scrolled {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header .nav-items,
    .header .btn {
        display: none;
    }

    .header .toggle_btn {
        display: block;
        z-index: 300;
        border: 1px solid rgb(200, 200, 200);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-radius: 4px;

    }

    .dropdown_menu {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
        top: 0;
        backdrop-filter: blur(15px);
        background-color: #fff;
        overflow: hidden;
        transition: left 0.3s ease-in;
    }


    .dropdown_menu.open {
        display: block;
        height: 380px;
    }

    .header .m-nav-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding-top: 60px;

    }

    .header .m-nav-items a {
        color: black;
    }

}



/* ------ Smaller than 992px -------- */





/* ------ Smaller than 992px -------- */
