/* Font Family */
@font-face {
    font-family: Azeret-Medium;
    src: url("../fonts/Azeret-Medium.otf");
}

@font-face {
    font-family: Azeret-Regular;
    src: url("../fonts/Azeret-Regular.otf");
}

@font-face {
    font-family: TTHoves-Regular;
    src: url("../fonts/TTHoves-Regular.ttf");
}

@font-face {
    font-family: TTHoves-Medium;
    src: url("../fonts/TTHoves-Medium.ttf");
}




html {
    scroll-behavior: smooth;
}

:root {

    /* ------ Colors ----- */

    --primary-color: #7F00FF;
    --secondery-color: #1F0A3F;
    --black: #000000;

    --white: #FFFFFF;
    --white-1: #F1F0EC;
    --white-2: #C1C1C1;


    --p: #736E7A;



    /* Font Family */
    --ff-azeret-medium: 'Azeret-Medium';
    --ff-azeret-regular: 'Azeret-Regular';
    --ff-tthoves-regular: 'TTHoves-Regular';
    --ff-tthoves-medium: 'TTHoves-Medium';



    /* Font Size */
    --fs-1: 54pt;
    --fs-2: 32pt;
    --fs-3: 24pt;
    --fs-4: 18pt;
    --fs-5: 14pt;
    --fs-6: 12pt;

    /* Font Width */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;


    /* Section Space */

    --section-padding: 60px;
}



/* ----------------- Custom Css ------------------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: var(--ff-tthoves-regular);
}

body {
    background-color: var(--white);
    color: var(--black);
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


img {
    display: block;
    width: 100%;
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

input {
    width: 100%;
}

input::-webkit-search-cancel-button {
    display: none;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.primary-color {
    color: var(--primary-color);
}



/* ----------------- Reused Styles ------------------ */

.container {
    padding-inline: 15px;
}

.section {
    padding-block: var(--section-padding);
}


h1,
h2,
h3,
h4,
h5 {
    font-weight: var(--fw-400);
}

h1 {
    font-size: var(--fs-1);
}

h2 {
    font-size: var(--fs-2);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-4);
}

h5 {
    font-size: var(--fs-5);
}

h6 {
    font-size: var(--fs-6);
}


p {
    font-size: var(--fs-5);
}


.title {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.grid-list {
    display: grid;
    gap: 20px;
}

.section-title,
.section-text {
    text-align: center;
}



/* ----------------- Header Start ------------------ */

.header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.header.scrolled {
    background: #fff;
}

.header .logo {
    width: 152px;
    height: 19px;
    margin-left: 40px;
}

.header .logo {
    width: 152px;
    height: 19px;
    margin-left: 80px;
}

.header .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.header .nav-items a {
    color: var(--black);
    font-size: var(--fs-7);
    font-weight: normal;
}


.header .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondery-color);
    gap: 12px;
    padding: 24px 36px;
    height: 75px;
    border-radius: 0 0 0 27px;
}

.header .btn a {
    color: var(--white);
    font-size: var(--fs-5);
}

.header .btn img {
    width: 20px;
    height: 10px;
}

.header .toggle_btn {
    display: none;
}

.dropdown_menu {
    display: none;
}




/* ----------------------------- Service Section Start------------------------------ */

.service__section {
    padding: 5rem;
    position: relative;
}

.service-title h1 {
    font-size: 500px;
    font-weight: 400;
    color: var(--white-1);
    letter-spacing: -18px;
    position: absolute;
    left: -4rem;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

.service__section-content {
    background-color: var(--white-1);
}

.service__section-content .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
}

.service__container {
    width: 742px;
    padding-top: 7rem;
    padding-bottom: 8rem;
}

.service__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.service__title h3 {
    font-size: 19pt;
    line-height: 32px;
    color: var(--secondery-color);
    font-weight: var(--ff-tthoves-medium);
    font-weight: 600;
    width: 50%;
}

.service__title p {
    font-size: var(--fs-6);
    color: #EE660C;
    line-height: 20px;
    text-align: end;
    width: 47%;
}

.service__boxes-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.service__boxes-list .service__boxes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    width: 50%;
}

.service__boxes-list .service__boxes .service-img img {
    width: 155px;
    height: 155px;
}


.service__boxes-list .service__boxes .service-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.service__boxes-list .service__boxes .service-details .number {
    color: var(--black);
    opacity: 0.3;
    padding-bottom: 20px;
    font-size: var(--fs-4);
    font-family: var(--ff-tthoves-regular);
}

.service__boxes-list .service__boxes .service-details .title {
    font-size: var(--fs-4);
    font-family: var(--ff-tthoves-regular);
    text-align: left;
}

.service__boxes-list .service__boxes .service-details p {
    font-size: var(--fs-6);
    color: var(--secondery-color);
    line-height: 20px;
    padding-top: 50px;
    font-family: var(--ff-tthoves-regular);
}



/* ----------------------- Clients Support Start -------------------- */
.support__section {
    padding: 7rem 0;
    z-index: 2;
    background-color: var(--secondery-color);
}

.support__section .container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.support__content {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1.5rem;
    width: 642px;
}

.support__content h6 {
    color: var(--white-1);
    font-family: var(--ff-tthoves-regular);
    font-size: var(--fs-6);

}

.support__content h3 {
    font-size: 22pt;
    font-family: var(--ff-tthoves-medium);
    line-height: 36px;
    color: var(--primary-color);
}



/* -----------------------  Extra Support Start -------------------- */

.extra__support {
    background-color: var(--white-1);
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.extra__support .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 642px;
}

.extra__support-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extra__support-heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 4rem;
}

.extra__support-heading h1 {
    font-family: var(--ff-tthoves-medium);
    font-size: 35pt;
    line-height: 60px;
}

.extra__support-heading h6 {
    margin-bottom: -3rem;
    color: var(--secondery-color);
    font-size: 12pt;
    line-height: 1.5em;
    width: 93%;
    font-family: var(--ff-tthoves-regular);
}

.extra__support-list {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
    gap: 3rem;
}

.extra__support-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
}

.extra__support-card .blue-card {
    height: 24px;
    width: 24px;
    background-color: var(--primary-color);
}

.extra__support-card h3 {
    width: 65%;
    font-family: var(--ff-tthoves-medium);
    font-size: var(--fs-3);
    line-height: 38px;
}

/* ----------------------- Contact Section Start ----------------------------- */

.contact__Section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--white);
}


.contact__info {
    padding-top: 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact__Section .hey-mobile {
    display: none;
}

.contact__info h1 {
    line-height: 76px;
    font-family: var(--ff-tthoves-medium);
}

.contact__section-title h1 {
    font-family: var(--ff-tthoves-medium);
    font-size: 86px;
}

.contact__info-name,
.contact__info-email,
.contact-details {
    margin-bottom: 20px;
}

.contact__section-content label {
    font-family: var(--ff-tthoves-regular);
    font-size: 38px;
}

.contact__Section input {
    width: 24%;
    margin: 0 24px;
    margin-top: 2px;
    border-bottom: 3px solid var(--secondery-color);
    padding: 10px 0;
    outline: none;
}

.contact-details input {
    width: 30%;
}

.contact__Section input::placeholder {
    color: var(--secondery-color);
    font-size: var(--input-font-size);
}

/* contact btn start */
.contact__Section input.btn.ab-btn {
    width: 100% !important;
    height: 70px !important;
    border: none;
    padding: 10px 10px 10px 10px;
}

.contact__Section .btn-animation {
    margin-top: 0px;
    border: 2px solid var(--black);
    padding: 10px 0px;
    color: var(--black);
    position: relative;
    z-index: 2;
    height: 70px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--white);
    transition: .2s ease-in-out;
}

.contact__Section .btn-animation .inner-arrow {
    font-size: 20px;
    color: var(--black);
    z-index: 2;
    margin: 0px -40px 0px 40px;
    transition: .2s ease-in-out;
}

.contact__Section .btn-animation:hover .inner-arrow {
    margin: 0px 10px 0px -10px;
    color: var(--white) !important;
    display: block;
}

.contact__Section .btn-animation:hover {
    background: var(--black);
    width: 300px;
}

.contact__Section .ab-btn {
    color: var(--black);
    z-index: 2;
    margin: 0px -13px 0px 13px;
    font-family: var(--ff-azeret-regular);
}

.contact__Section .btn-animation:hover .ab-btn {
    color: var(--white) !important;
    margin: unset;
}

.contact__Section .btn-animation span {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--white);
    transition: .2s linear;
    border-radius: 50px;
    z-index: 1;
}

.contact__Section .btn-animation:hover span {
    height: 0%;
    width: 50%;
}

.submit-area {
    margin-left: 8.7rem;
}

.contact__Section .contact-details {
    display: flex;
}

/* ----------------------- Footer Start ----------------------------- */

.footer {
    width: 100%;
    background-color: var(--white-1);
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 768px;
    padding-bottom: 2rem;
}

.footer__short-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2rem;
}

.footer__short-links .short-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54px;
}

.footer__short-links .short-link a {
    font-size: var(--fs-6);
    font-family: var(--ff-azeret-regular);
}

.footer__short-links .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

.footer .social-link a i {
    font-size: 20px !important;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1.5px solid #000000 !important;
}


.footer__big-logo {
    width: 100%;
}

.footer__big-logo img {
    width: 100%;
}


