/* Font Family */
@font-face {
    font-family: Azeret Medium;
    src: url(/assets/fonts/Azeret-Medium.otf);
}

@font-face {
    font-family: Azeret Regular;
    src: url(/assets/fonts/Azeret-Regular.otf);
}

@font-face {
    font-family: TTHoves Regular;
    src: url(/assets/fonts/TTHoves-Regular.ttf);
}

@font-face {
    font-family: TTHoves Medium;
    src: url(/assets/fonts/TTHoves-Medium.ttf);
}
:root {

    /* ------ Colors ----- */

    --primary-color: #7F00FF;
    --secondery-color: #1F0A3F;
    --black: #000000;

    --white: #FFFFFF;
    --white-1: #F1F0EC;
    --white-2: #C1C1C1;



    /* Font Family */
    --ff-azeret-medium: 'Azeret Medium';
    --ff-azeret-regular: 'Azeret Regular';
    --ff-tthoves-regular: 'TTHoves Regular';
    --ff-tthoves-medium: 'TTHoves Medium';

    /* Font Size */
    --fs-1: 86px;
    --fs-2: 54px;
    --fs-3: 32px;
    --fs-4: 18px;
    --fs-5: 12px;
    --fs-6: 14px;

    /* Font Width */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;


    /* Section Space */

    --section-padding: 60px;
}



/* ----------------- Custom Css ------------------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-tthoves-regular);
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--black);
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


img {
    display: block;
    width: 100%;
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

input {
    width: 100%;
}

input::-webkit-search-cancel-button {
    display: none;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.primary-color {
    color: var(--primary-color);
}

/* ----------------- Reused Styles ------------------ */

.container {
    padding-inline: 15px;
}

.section {
    padding-block: var(--section-padding);
}


h1,
h2,
h3,
h4,
h5 {
    font-weight: var(--fw-400);
}

h1 {
    font-size: var(--fs-1);
}

h2 {
    font-size: var(--fs-2);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-4);
}

h5 {
    font-size: var(--fs-5);
}

h6 {
    font-size: var(--fs-6);
}


p {
    font-size: var(--fs-6);
}


.title {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.grid-list {
    display: grid;
    gap: 20px;
}

.section-title,
.section-text {
    text-align: center;
}


/* ----------------- Header Start ------------------ */

.header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header .logo {
    width: 152px;
    height: 19px;
    margin-left: 80px;
}

.header .logo {
    width: 152px;
    height: 19px;
    margin-left: 80px;
}

.header .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.header .nav-items a {
    font-size: var(--fs-5);
    font-weight: normal;
}

.header .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondery-color);
    gap: 12px;
    padding: 24px 36px;
    height: 75px;
    border-radius: 0 0 0 27px;
}

.header .btn a {
    color: var(--white);
    font-size: var(--fs-6);
}

.header .btn img {
    width: 20px;
    height: 10px;
}



.header .toggle_btn {
    display: none;
}

.dropdown_menu {
    display: none;
}




/* ----------------------------- Service Section Start------------------------------ */

.service__section
{
    padding: 5rem;
    position: relative;
}

.service-title h1
{
    font-size: 488px;
    font-weight: 100;
    color: var(--white-1);
    position: absolute;
    left: -9rem;
    right: 0;
    overflow: hidden;
    z-index: -1;
}

.service__section-content {
    background-color: var(--white-1);
}

.service__section-content .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
}

.service__container
{
    width: 744px;
    padding-top: 7rem;
    padding-bottom: 8rem;
}

.service__title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.service__title h4
{
    font-size: 24px;
    line-height: 32px;
    color: var(--secondery-color);
    width: 50%;
}

.service__title p{
    font-family: var(--ff-tthoves-regular);
    font-size: var(--fs-6);
    color: #EE660C;
    line-height: 20px;
    text-align: end;
    width: 47%;
}

.service__boxes-list
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.service__boxes-list .service__boxes
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    width: 50%;
}

.service__boxes-list .service__boxes .service-details
{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.service__boxes-list .service__boxes .service-details .number
{
    color: var(--white-2);
    padding-bottom: 20px;
    font-family: var(--ff-tthoves-regular);
}

.service__boxes-list .service__boxes .service-details p 
{
    font-size: var(--fs-6);
    color: var(--secondery-color);
    font-family: var(--ff-tthoves-regular);
    line-height: 20px;
    padding-top: 50px;
}



/* ----------------------- Clients Support Start -------------------- */
.support__section
{
    padding: 7rem 0;
    z-index: 2;
}

.support__section .container
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.support__content
{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1.5rem;
    width: 744px;
}

.support__content h3
{
    font-size: var(--fs-3);
    font-family: var(--ff-tthoves-medium);
    line-height: 32px;
    color: var(--secondery-color);
}



/* -----------------------  Extra Support Start -------------------- */

.extra__support
{
    background-color: var(--white-1);
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.extra__support .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 744px;
}

.extra__support-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.extra__support-heading
{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 4rem;
}

.extra__support-heading h2
{
    width: 50%;
    font-family: var(--ff-tthoves-medium);
    font-size: var(--fs-2);
    line-height: 63px;
}

.extra__support-heading h6
{
    width: 50%;
    margin-bottom: -1rem;
    color: var(--secondery-color);
    line-height: 20px;
}

.extra__support-list
{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 3rem;
    padding-left: 15rem;
}

.extra__support-card
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
}

.extra__support-card .blue-card
{
    height: 24px;
    width: 24px;
    background-color: var(--primary-color);
}

.extra__support-card h3
{
    width: 60%;
    font-family: var(--ff-tthoves-medium);
    font-size: var(--fs-3);
    line-height: 38px;
}

/* ----------------------- Contact Section Start ----------------------------- */

.contact__Section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.contact__info {
    padding-top: 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact__info h1 {
    line-height: 76px;
}

.contact__info-name,
.contact__info-email,
.contact-details {
    margin-bottom: 20px;
}

input {
    width: 25%;
    margin: 0 24px;
    margin-top: 2px;
    border-bottom: 3px solid var(--secondery-color);
    padding: 10px 0;
    outline: none;
}

input::placeholder {
    color: var(--secondery-color);
}


/* ----------------------- Footer Start ----------------------------- */

.footer {
    width: 100%;
    background-color: var(--white-2);
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 768px;
    padding-bottom: 2rem;
}

.footer__short-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2rem;
}

.footer__short-links .short-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54px;
}

.footer__short-links .short-link a {
    font-size: var(--fs-5);
}

.footer__short-links .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

.footer__short-links .social-link img {
    width: 35px;
    filter: grayscale(100%) brightness(0%);
}


.footer__big-logo {
    width: 100%;
}

.footer__big-logo img {
    width: 100%;
}