/* Font Family */
@font-face {
    font-family: Azeret-Medium;
    src: url("../fonts/Azeret-Medium.otf");
}

@font-face {
    font-family: Azeret-Regular;
    src: url("../fonts/Azeret-Regular.otf");
}

@font-face {
    font-family: TTHoves-Regular;
    src: url("../fonts/TTHoves-Regular.ttf");
}

@font-face {
    font-family: TTHoves-Medium;
    src: url("../fonts/TTHoves-Medium.ttf");
}




html {
    scroll-behavior: smooth;
}

:root {

    /* ------ Colors ----- */

    --primary-color: #7F00FF;
    --secondery-color: #1F0A3F;
    --black: #000000;

    --white: #FFFFFF;
    --white-1: #F1F0EC;
    --white-2: #C1C1C1;


    --p: #736E7A;



    /* Font Family */
    --ff-azeret-medium: 'Azeret-Medium';
    --ff-azeret-regular: 'Azeret-Regular';
    --ff-tthoves-regular: 'TTHoves-Regular';
    --ff-tthoves-medium: 'TTHoves-Medium';



    /* Font Size */
    --fs-1: 54pt;
    --fs-2: 32pt;
    --fs-3: 24pt;
    --fs-4: 18pt;
    --fs-5: 14pt;
    --fs-6: 12pt;

    /* Font Width */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;


    /* Section Space */

    --section-padding: 60px;
}



/* ----------------- Custom Css ------------------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--ff-tthoves-regular);
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


img {
    display: block;
    width: 100%;
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

input {
    width: 100%;
}

input::-webkit-search-cancel-button {
    display: none;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.primary-color {
    color: var(--primary-color);
}



/* ----------------- Reused Styles ------------------ */

.container {
    padding-inline: 15px;
}

.section {
    padding-block: var(--section-padding);
}


h1,
h2,
h3,
h4,
h5 {
    font-weight: var(--fw-400);
}

h1 {
    font-size: var(--fs-1);
}

h2 {
    font-size: var(--fs-2);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-4);
}

h5 {
    font-size: var(--fs-5);
}

h6 {
    font-size: var(--fs-6);
}


p {
    font-size: var(--fs-5);
}


.title {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.grid-list {
    display: grid;
    gap: 20px;
}

.section-title,
.section-text {
    text-align: center;
}


/* ----------------- Header Start ------------------ */

.header {
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: 0.3s ease;
}


.header.scrolled {
    z-index: 100;
    background: #fff;

}

.header .logo {
    width: 152px;
    height: 19px;
    margin-left: 40px;
}

.header .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.header .nav-items a {
    color: var(--black);
    font-size: var(--fs-7);
    font-weight: normal;
}


.header .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondery-color);
    gap: 12px;
    padding: 24px 36px;
    height: 75px;
    border-radius: 0 0 0 27px;
}

.header .btn a {
    color: var(--white);
    font-size: var(--fs-5);
}

.header .btn img {
    width: 20px;
    height: 10px;
}

.header .toggle_btn {
    display: none;
}

.dropdown_menu {
    display: none;
}




/* ----------------------------- Service Section Start------------------------------ */

.service__section
{
    padding: 5rem;
    position: relative;

}

.service-title h1
{
    padding-top: 4.6rem;
    font-size: 500px;
    font-weight: 400;
    color: var(--white-1);
    letter-spacing: -18px;
    position: absolute;
    text-align: center;
    top: 0;
    left: -10rem;
    right: 0;
    overflow: hidden;
    z-index: -1;
    background-color: var(--white);
}

.service__section-content {
    background-color: var(--white-1);
}

.service__section-content .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
}

.service__container
{
    width: 642px;
    padding-top: 7rem;
    padding-bottom: 8rem;
}

.service__title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.service__title h3
{
    font-size: 18pt;
    line-height: 32px;
    color: var(--secondery-color);
    font-weight: var(--ff-tthoves-medium);
    font-weight: 600;
    width: 50%;
}

.service__title p{
    font-size: var(--fs-6);
    color: #EE660C;
    line-height: 20px;
    text-align: end;
    width: 47%;
    font-family: var(--ff-tthoves-regular);
}

.service__boxes-list
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.service__boxes-list .service__boxes
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    width: 50%;
}

.service__boxes-list .service__boxes .service-img img
{
    width: 155px;
    height: 155px;
}


.service__boxes-list .service__boxes .service-details
{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.service__boxes-list .service__boxes .service-details .number
{
    color: var(--black);
    opacity: 0.3;
    padding-bottom: 20px;
}

.service__boxes-list .service__boxes .service-details p 
{
    font-size: var(--fs-6);
    color: var(--secondery-color);
    line-height: 20px;
    padding-top: 50px;
}



/* ----------------------- Clients Support Start -------------------- */
.support__section
{
    padding: 7rem 0;
    z-index: 2;
    background-color: var(--secondery-color);
}

.support__section .container
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.support__content
{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 1.5rem;
    width: 642px;
}

.support__content h6
{
    color: var(--white-1);
    
}

.support__content h3
{
    font-size: 22pt;
    font-family: var(--ff-tthoves-medium);
    line-height: 36px;
    color: var(--primary-color);
}



/* -----------------------  Extra Support Start -------------------- */

.extra__support
{
    background-color: var(--white-1);
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.extra__support .container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 642px;
}

.extra__support-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extra__support-heading
{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 4rem;
}

.extra__support-heading h1
{
    font-family: var(--ff-tthoves-medium);
    font-size: 35pt;
    line-height: 60px;
}

.extra__support-heading h6
{
    margin-bottom: -3rem;
    color: var(--secondery-color);
    font-size: 10pt;
    line-height: 20px;
    width: 93%;
}

.extra__support-list
{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
    gap: 3rem;
}

.extra__support-card
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.5rem;
}

.extra__support-card .blue-card
{
    height: 24px;
    width: 24px;
    background-color: var(--primary-color);
}

.extra__support-card h3
{
    width: 65%;
    font-family: var(--ff-tthoves-medium);
    font-size: var(--fs-3);
    line-height: 38px;
}





@media only screen and (max-width: 600px) {

    :root {
        /* Font Size */
        --fs-1: 54px;
        --fs-2: 32px;
        --fs-3: 24px;
        --fs-4: 18px;
    }

    
    .service__section {
        padding: 8rem;
        position: relative;
    }

    .service__container {
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 6rem;
    }

    .service__section-content .container {
        margin-top: 0rem;
    }

    .service-title h1 {
        margin-top: -4.3rem;
        padding-top: 10rem;
        font-size: 122px;
        font-weight: 100;
        color: var(--white-1);
        letter-spacing: -8px;
        position: absolute;
        text-align: center;
        top: 4.2rem;
        left: -3rem;
        right: 0;
        overflow: hidden;
        z-index: -1;
        background-color: var(--white);
    }



    .service__title {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .service__title h3 {
        width: 90%;
    }

    .service__title p {
        width: 90%;
    }


    .service__boxes-list {
        flex-direction: column
    }


    .service__boxes-list .service__boxes {
        width: 80%;
    }


    .extra__support-card {
        gap: 2.5rem;
    }


    .extra__support .container
    {
        width: 100%;
    }

    .extra__support-heading {
        flex-direction: column;
    }

    .extra__support-heading h6 {
        width: 100%;
    }

    .extra__support-list {
        margin-left: 0rem;
    }

    .extra__support-card h3 {
        width: 85%;
        font-family: var(--ff-tthoves-medium);
        font-size: var(--fs-3);
        line-height: 38px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px) and (max-width: 767px) {
    
    
    .service__section {
        margin-top: -6rem;
        padding: 0.2rem;
        position: relative;
    }

    .service-title h1 {
        margin-top: -4rem;
        font-size: 270px;
        font-weight: 100;
        top: 6rem;
        left: -7rem;
        right: 0;
    }


    .extra__support-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .extra__support-list {
        margin-left: 7rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1023px) {
    .service__section {
        padding: 0.2rem;
        position: relative;
    }


    .service-title h1 {
        padding-top: -14.6rem;

        font-size: 320px;
        font-weight: 100;
        top: 0;
        left: -7rem;
        right: 0;
        overflow: hidden;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1024px) and (max-width: 1439px) {
    /* If you need */
}