/* Font Family */
@font-face {
    font-family: Azeret Medium;
    src: url(/assets/fonts/Azeret-Medium.otf);
}

@font-face {
    font-family: Azeret Regular;
    src: url(/assets/fonts/Azeret-Regular.otf);
}

@font-face {
    font-family: Azeret Semibold;
    src: url(/assets/fonts/Azeret-Semibold.otf);
}

:root {

    /* ------ Colors ----- */

    --primary-color: #7F00FF;
    --secondery-color: #1F0A3F;
    --black: #000000;

    --white: #FFFFFF;
    --white-1: #F1F0EC;
    --white-2: #C1C1C1;



    /* Font Family */
    --ff-azeret-medium: 'Azeret Medium';
    --ff-azeret-regular: 'Azeret Regular';
    --ff-azeret-semibold: 'Azeret Semibold';

    /* Font Size */
    --fs-1: 86px;
    --fs-2: 62px;
    --fs-3: 54px;
    --fs-4: 32px;
    --fs-5: 12px;
    --fs-6: 14px;

    /* Font Width */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;


    /* Section Space */

    --section-padding: 60px;


}



/* ----------------- Custom Css ------------------ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-azeret-regular);
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--black);
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}


img {
    display: block;
    width: 100%;
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

input {
    width: 100%;
}

input::-webkit-search-cancel-button {
    display: none;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.primary-color {
    color: var(--primary-color);
}

/* ----------------- Reused Styles ------------------ */

.container {
    padding-inline: 15px;
}

.section {
    padding-block: var(--section-padding);
}


h1,
h2,
h3,
h4,
h5 {
    font-weight: var(--fw-400);
}

h1 {
    font-size: var(--fs-1);
}

h2 {
    font-size: var(--fs-2);
}

h3 {
    font-size: var(--fs-3);
}

h4 {
    font-size: var(--fs-4);
}

h5 {
    font-size: var(--fs-5);
}

h6 {
    font-size: var(--fs-6);
}


p {
    font-size: var(--fs-5);
}


.title {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.grid-list {
    display: grid;
    gap: 20px;
}

.section-title,
.section-text {
    text-align: center;
}






/* ----------------- Home Section Start ------------------ */
.home {
    background-color: var(--black);
    border-radius: 30px;
    color: var(--white);
}


video {
    object-fit: cover;
    width: 100%;
    height: 444px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header.scrolled {
    background-color: var(--white);
    transition: 0.5s ease;
    z-index: 200;
}

.header.scrolled .nav-items a {
    color: black;
}

.header.scrolled  .btn{
    color: var(--white);
    background: var(--white-2);
}

.header.scrolled  .btn a{
    color: var(--white);
}

.header.scrolled  .btn a{
    color: var(--white);
}

.header.scrolled .btn .c-white-arrow
{
    display: block;
}

.header.scrolled .btn img
{
    display: none;
}

.header .logo {
    width: 152px;
    height: 19px;
    margin-left: 80px;
}

.header .logo {
    width: 152px;
    height: 19px;
    margin-left: 80px;
}

.header .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.header .nav-items a {
    font-size: var(--fs-5);
    font-weight: normal;
}

.header .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    gap: 12px;
    padding: 24px 36px;
    height: 75px;
    border-radius: 0 0 0 27px;
}

.header .btn a {
    color: var(--black);
    font-size: var(--fs-5);
}

.header .btn img {
    width: 20px;
    height: 10px;
}

.header .btn .c-white-arrow
{
    display: none;
}

.header .toggle_btn {
    display: none;
}

.dropdown_menu {
    display: none;
}




/* ---------------- Home Bottom----------------- */
.home__bottom {
    padding-top: 444px;
    height: 975px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home__bottom-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__bottom-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__bottom-up .home__bottom-up-heading {
    font-size: var(--fs-1);
    line-height: 96px;
}

.home__bottom-up .home__bottom-left {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 30px;
    width: 45%;
}

.home__bottom-up .home__bottom-left .sec-btn {
    display: flex;
    align-items: center;
    width: 153px;
    border-radius: 50px;
    position: relative;
    color: var(--white);
    transform-origin: center;
    transform-origin: center;
    transition: 0.3s linear;
    transition-delay: 0.03s;
}

.home__bottom-up .home__bottom-left .sec-btn:hover {
    color: var(--black);
    background-color: var(--white);
}

.home__bottom-up .home__bottom-left .sec-btn:hover .white-arrow {
    display: none;
}


.home__bottom-up .home__bottom-left .sec-btn:hover .dark-arrow {
    display: inline-block;
    transition: 0.3s linear;
    transition-delay: .3s;
}

.home__bottom-up .home__bottom-left .sec-btn span {
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: 28px 32px;
    font-size: var(--fs-6);
    transition: 0.3s linear;
}


.home__bottom-up .home__bottom-left .sec-btn .dark-arrow,
.home__bottom-up .home__bottom-left .sec-btn .white-arrow {
    width: 20px;
    position: absolute;
    right: 0%;
    bottom: 36%;
    transform: translateY(-50%);
}

.home__bottom-up .home__bottom-left .sec-btn:hover .dark-arrow{
    right: 20%;
}

.home__bottom-up .home__bottom-left .sec-btn .dark-arrow {
    display: none;
}

.home__bottom-up .home__bottom-left .home__bottom-left-content {
    font-size: var(--fs-5);
    opacity: .3;
    line-height: 16px;
    width: 80%;
}


.home__bottom-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.home__bottom-down .boxes {
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.home__bottom-down .box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 0 20px;
}

.home__bottom-down .box .line {
    margin-right: 12px;
    width: 1px;
    height: 6rem;
    background-color: var(--white);
    opacity: 0.3;
}

.home__bottom-down h5 {
    opacity: 0.3;
    line-height: 16px;
}

.home__bottom-down .socials {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.home__bottom-down .socials .social_links {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
}

.home__bottom-down .socials .social_links img {
    width: 35px;
}

.home__bottom-down .socials .social-content p {
    font-size: var(--fs-5);
    line-height: 16px;
}





/* ----------------- Services Section Start ------------------ */

.service-section {
    margin-top: 10rem;
}

.service__content .service__content-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service__content .service__content-heading h5 {
    opacity: 0.3;
}

.service__content .service__content-heading h3 {
    width: 70%;
    line-height: 63px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.service__content .service__content-heading p {
    width: 39%;
    line-height: 16px;
    opacity: 0.3;
}


/* -------------------- Service List ---------------- */

.services
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}


.service__list {
    margin-top: 3rem;
    width: 100%;
}

.service__list-up,
.service__list-down {
    display: flex;
    align-items: self-start;
    justify-content: center;
    gap: 15px;
    border-top: 1px solid #9595952f;
    padding: 1rem 0;
}

.service__list-up .service__list-box,
.service__list-down .service__list-box {
    width: 30%;
    height: 192px;
}

.service__list-up .service__list-box .number,
.service__list-down .service__list-box .number {
    opacity: 0.5;
}

.service__list-up .service__list-box h4,
.service__list-down .service__list-box h4 {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service__list-up .service__list-box h6,
.service__list-down .service__list-box h6 {
    font-weight: 400;
    padding-top: 50px;
    color: var(--secondery-color);
}


/* ----------------------- Cover Image Start ----------------------------- */

.cover__image {
    margin-top: 7rem;
}

.cover__image-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cover__image-img::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7F00FF;
    background-blend-mode: soft-light;
    opacity: 25%;
    border-radius: 30px;
}

.cover__image-img img {
    max-width: 100%;
    height: 422px;
}


/* ----------------------- Mission Section Start ----------------------------- */

.mission {
    margin-top: 7rem;
}

.mission__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.mission__content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.mission__content-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.mission__content-left img {
    width: 392px;
    height: 392px;
}

.mission__content-right {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 64px;
}

.mission__content-right h4 {
    line-height: 32px;
    font-size: var(--fs-4);
}

.mission__content-article {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 40px;
}

.mission__content-article h6 {
    width: 34%;
    font-weight: var(--fw-400);
    line-height: 20px;
    color: var(--secondery-color);
}


/* ----------------------- Team Section Start ----------------------------- */

.team__section {
    margin-top: 10rem;
}

.team__content {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.team__members {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
    width: 80%;
}

.team-member .member__name {
    font-size: 18px;
    display: block;
    padding-top: 1rem;
}


.team__members img {
    filter: grayscale(100%) brightness(80%);
}

.team_members-more {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}


/* ----------------------- Clients Section Start ----------------------------- */

.clients__section {
    margin-top: 10rem;
    padding-bottom: 5rem;
    background: var(--white-1);
}


.clients__content {
    padding-top: 8rem;

}

.clients__content .clinets__content-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.clients__content .clinets__content-heading h5,
.clients__content .clinets__content-heading p {
    color: var(--black);
    opacity: .3;
}

.clients__content .clinets__content-heading h3 {
    font-weight: var(--fw-400);
}

.clients__content .clinets__content-heading p {
    width: 40%;
    text-align: center;
}


/* ------------ clients__brands -------------- */
.clients__brands {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    gap: 1px;
}

.clients__brands .brand img {
    width: 248px;
    filter: brightness(0.1);
}

/* ------------ work__process -------------- */

.work__process {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.work__process .work__process-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 410px;
    width: 32%;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--white);
    position: relative;
}



.work__process .work__process-card img {
    width: 195px;
    /* background-blend-mode: soft-light; */
}


/* ----------------------- Contact Section Start ----------------------------- */

.contact__Section
{
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.contact__info {
    padding-top: 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact__info h1 {
   line-height: 76px;
}

.contact__info-name,
.contact__info-email,
.contact-details {
    margin-bottom: 20px;
}

input {
    width: 25%;
    margin: 0 24px;
    margin-top: 2px;
    border-bottom: 3px solid var(--secondery-color);
    padding: 10px 0;
    outline: none;
}

input::placeholder {
    color: var(--secondery-color); 
}


/* ----------------------- Footer Start ----------------------------- */









